<h2>Trending Favorites</h2>
<h3>Find things that define you.</h3>

<h2>Recently Added</h2>
<h3>Be inspired by latest in stuff.</h3>


<%= link_to 'Products', products_path %> |
<%= link_to 'Users', users_path %>
