<h1>Order Fulfillment:</h1>
<br>
  <p>
    Your User ID is <%= "#{@current_user.id}"%>.
  </p>

  <table>
    <thead>
      <tr>
        <th>Total Revenue</th>
        <th>Total Revenue by Status</th>
        <th>Total number of orders by status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <%= @current_user.total_revenue("completed") %>
        </td>
        <td>
          Completed: <%= %>
        </td>
        <td>
          <%= Time.now.strftime("Ordered on %m/%d/%y at %I:%M%p") %>
        </td>
      </tr>
    </tbody>
  </table>

 # This page does not work.  Need to fix @current_user.

   * [ ]Total Revenue
   * [ ]Total Revenue by status
   * [ ]Total number of orders by status
   * [ ]Filter orders displayed by status
   * [ ]Link to each individual order
   * [ ]A list of orders including at least one of my products:
      * [ ]Each order item sold by me with a quantity and line-item subtotal
      * [ ]A link to the item description page
      * [ ]DateTime the order was placed
      * [ ]Link to transition the order item to marked as shipped
      * [ ]The current status of the order ("pending", "paid", "complete", "cancelled")
