body {
    background-color: #eaebeb;
}

h1 {
    font-family: verdana;
    width: 25%;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

h2 {
    color: 333333;
    text-shadow: 2px 2px 2px rgb(150, 150, 150);
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

h3 {
    color: #888;
    font-family: "Guardian-EgypTT",georgia,serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

p#page-header {
    font-size: 30px;
    color: #c04e18;

}

#top {
    background-color: #e1e1dc;
    width: 100%;
    display: inline-block;
    font-size: 25px;
    text-align: center;
}

#title a {
    text-decoration: none;
    margin-left: 8%;
    font-size: 50px;
    color: #c04e18;
    float: left;
}

#sale {
    display: inline-block;
    font-size: 30px;
    color: #c5121c;
}

#sale a {
    color: #c5121c;
}




form    {
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin:auto;
    position:relative;
    width: 45%;
    height:40%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #47515f;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input#product_stock {
    max-width: 50px;
}
input    {
    display:block;
    border: 1px solid #999;
    height: 25px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input.button {
    display: inline-block;
    width:100px;
    position:absolute;
    background: #475361;
    color:#fff;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #999;
}
input.button:hover {
    background:#fff;
    color:#0192b5;
}

.button_to {
    width: 100px;
}

/* CSS for Menu */

div.wrapper {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
#cssmenu {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid lightgray;
    width: auto;
    font-family: Helvetica, Arial, sans-serif;
}
#cssmenu ul,
#cssmenu li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#cssmenu ul {
    padding: 0;
    color: #0192b5;
    margin: 0;
    font-weight: bold;
    position: relative;
    z-index: 597;
}
#cssmenu ul li {
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    min-height: 1px;
    vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
#cssmenu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}
#cssmenu ul ul li {
    float: none;
}
#cssmenu ul ul ul {
    top: 0;
    left: 100%;
}
#cssmenu ul li:hover > ul {
    visibility: visible;
}

#cssmenu a {
    display: block;
    text-decoration: none;
}
#cssmenu ul li.last ul {
    left: auto;
    right: 0;
}
#cssmenu ul li.last ul ul {
    left: auto;
    right: 99.5%;
}
#cssmenu:after,
#cssmenu ul:after {
    content: '';
    display: block;
    clear: both;
}

#cssmenu:before {
    content: '';
    display: block;
    height: 8px;
}
#cssmenu > ul {
    background-color: #f4f4f4;
    padding: 15px 15px 15px 5px;
}
#cssmenu > ul > li {
    color: #0192b5;
    font-weight: bold;
    margin: 0 10px;
}

#cssmenu > ul > li.has-sub > a{
    color: #0192b5;
    font-weight: bold;
}

#cssmenu > ul > li.has-sub:hover > a {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#cssmenu > ul > li.active:hover > a {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f49b8e), color-stop(1, #bd584d));
    background-image: -webkit-linear-gradient(top, #f49b8e, #bd584d);
    background-image: -moz-linear-gradient(top, #f49b8e, #bd584d);
    background-image: -o-linear-gradient(top, #f49b8e, #bd584d);
    background-image: linear-gradient(#f49b8e, #bd584d);
}
#cssmenu ul a {
    color: #0192b5;
    color: #3c444d;
    font-size: 12px;
    line-height: 27px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
#cssmenu ul ul {
    color: #0192b5;
    font-weight: bold;
    width: 170px;
}
#cssmenu ul ul a {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    line-height: 150%;
}

#cssmenu ul .has-sub {
    color: #0192b5;
    font-weight: bold;
    position: relative;
}
#cssmenu ul .has-sub ul {
    background-color: #f4f4f4;
    padding: 3px 0;
}
#cssmenu ul .has-sub ul a {
    color: #0192b5;
    font-weight: bold;
    background: none;
    padding: 8px 8px 8px 16px;
    text-align: left;
}
#cssmenu ul .has-sub ul .has-sub a:after {
    content: none;
}
#cssmenu ul .has-sub li:hover > a {
    background-color: #d5e7eb;
}
#cssmenu ul .has-sub li:hover > a:after {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d9d9d9), color-stop(1, #747474));
    background-image: -webkit-linear-gradient(top, #d9d9d9, #747474);
    background-image: -moz-linear-gradient(top, #d9d9d9, #747474);
    background-image: -o-linear-gradient(top, #d9d9d9, #747474);
    background-image: linear-gradient(#d9d9d9, #747474);
    content: '';
    height: 100%;
    width: 6px;
    position: absolute;
    right: 0;
    top: 0;
}
#cssmenu ul .has-sub > a {
    color: #0192b5;
    font-weight: bold;
    padding-right: 0;
}
#cssmenu ul .has-sub > a:after {
    content: '▼';
    border-left: 1px solid rgba(100, 100, 100, 0.2);
    display: inline-block;
    font-size: 9px;
    margin-left: 5px;
    text-align: center;
    height: 25px;
    width: 24px;
    text-shadow: 0 -1px 0 #101417;
}
#cssmenu ul .active > a:after {
    color: #0192b5;
    font-weight: bold;
    color: #f4f4f4;
}
#cssmenu ul ul a {
    font-size: 12px;
}

.prod-box {
    width: 200px;
    height: 275px;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin: 3px;

}

.prod-box .image {
    height: 200px;
}

.content-body {
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 890px;
    background-color: #dadad4;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.prod-details {
    display: inline-block;
    width: 440px;
    vertical-align: top;
    height: 450px;
}

.prod-details form{
    width: 100px;
    height: 75px;
    text-align: center;
}

.prod-details form input#order_item_quantity {
    width: 75px;
}
