
<p id="page-header"><strong>
  <%= @category.name %>
    </strong>
</p>
<ul>
<% @category.products.each do |product| %>
    <li>
    <%= product.name %>
    </li>
    <% end %>
    </ul>

<p>Didn't find what you're looking for? Check out <a href="/products">all the products!</a></p>
<%= link_to 'Back', categories_path %>
